In [1]:
%load_ext autoreload
%autoreload 2
import indeed.IndeedScraper as ind

In [2]:
# Create instance of class
scraper = ind.SearchPageScraper('Data Scientist', 'Scotland')
scraper

IndeedScraper(title="data+scientist", loc="Scotland")
  - Empty df, no results loaded

In [3]:
# Run the scraper and print it
scraper.scrape(2, verbose=True)
scraper

Running scraper for [data+scientist] in [Scotland]

Page:0 url:https://uk.indeed.com/jobs?q=data+scientist&l=Scotland
Blank result, retrying (1 of 3 attempts)

Page:0 url:https://uk.indeed.com/jobs?q=data+scientist&l=Scotland
job: 0 title:Data Scientist - KTP company:University of Strathclyde
job: 1 title:Data Scientist       company:Kleboe Jardine
job: 2 title:Data Scientist - NLP company:Propel
job: 3 title:Data Verification Sc company:Thermo Fisher Scientific
job: 4 title:Data Science (Tech)  company:GSK
job: 5 title:Senior Data Scientis company:Office for National Statistics
job: 6 title:Data Scientist       company:Offshore Renewable Energy Catapult
job: 7 title:Applied Scientist (R company:Yelp
job: 8 title:Discovery Data Scien company:Exscientia
job: 9 title:Applied Scientist Re company:Amazon Dev Centre(Scotland)Ltd
job:10 title:Data Scientist       company:Exscientia
job:11 title:Machine Learning Eng company:JPMorgan Chase Bank, N.A.
job:12 title:Senior Applied Data  company:dunnhumby
job:13 title:Senior Data Scientis company:SolarWinds
job:14 title:Data Scientist       company:NatWest Group

Page:1 url:https://uk.indeed.com/jobs?q=data+scientist&l=Scotland&start=10
Blank result, retrying (1 of 3 attempts)

Page:1 url:https://uk.indeed.com/jobs?q=data+scientist&l=Scotland&start=10
Blank result, retrying (2 of 3 attempts)

Page:1 url:https://uk.indeed.com/jobs?q=data+scientist&l=Scotland&start=10
Blank result, retrying (3 of 3 attempts)

IndeedScraper(title="data+scientist", loc="Scotland")
  - 15 jobs scraped from 2 pages

In [4]:
scraper.add_descriptions()

row  0, description added (2 characters)
row  1, description added (2 characters)
row  2, description added (2 characters)
row  3, description added (2 characters)
row  4, description added (2 characters)
row  5, description added (2 characters)
row  6, description added (2 characters)
row  7, description added (2 characters)
row  8, description added (2 characters)
row  9, description added (2 characters)
row 10, description added (2 characters)
row 11, description added (2 characters)
row 12, description added (2 characters)
row 13, description added (2 characters)
row 14, description added (2 characters)

In [5]:
scraper.df

,title,id,company,url,location,summary,date,description,description_html
0,Data Scientist - KTP Associate,p_bf2181782ab76a51,University of Strathclyde,https://uk.indeed.com/rc/clk?jk=bf2181782ab76a...,Glasgow,Salary range: Up to £32-34k p.a. depending on ...,3 days ago,Salary range: Up to £32-34k p.a. depending on ...,[[Salary range: Up to £32-34k p.a. depending o...
1,Data Scientist,p_253c5778a472a487,Kleboe Jardine,https://uk.indeed.com/company/Elliot-Dreghorn-...,Galashiels,They maximise data utility to allow for innova...,7 days ago,My client supports international organisations...,[[My client supports international organisatio...
2,Data Scientist - NLP,p_d18cd05182b42142,Propel,https://uk.indeed.com/rc/clk?jk=d18cd05182b421...,Glasgow,You will be able to identify the best opportun...,30+ days ago,Job Overview\nA product led HealthTech start u...,"[[[<b>Job Overview</b>], \n, [A product led He..."
3,Data Verification Scientist,p_b1f4ca587fcd4ffb,Thermo Fisher Scientific,https://uk.indeed.com/rc/clk?jk=b1f4ca587fcd4f...,Milton,Check calculations and data transcriptions for...,30+ days ago,Job Title: Data Verification Scientist\n\nReq ...,[[[<b>Job Title: Data Verification Scientist\n...
4,"Data Science (Tech) Degree Apprenticeship, Irv...",p_bb3afcd7194139cb,GSK,https://uk.indeed.com/rc/clk?jk=bb3afcd7194139...,Irvine KA11 5AP,Utilising machine learning and data engineerin...,20 days ago,Site Name: UK - North Ayrshire - Irvine\nPoste...,"[[[Site Name:], UK - North Ayrshire - Irvine,..."
5,Senior Data Scientist (International Development),p_0529c996125e6f35,Office for National Statistics,https://uk.indeed.com/rc/clk?jk=0529c996125e6f...,East Kilbride G75 8EA,Story-telling and data visualisation – includi...,6 days ago,"Reference number\n127502\nSalary\n£50,205 - £6...","[[[<div><div><h3 class=""jobSectionHeader""><b>R..."
6,Data Scientist,p_a81268c1d2d7b817,Offshore Renewable Energy Catapult,https://uk.indeed.com/company/Offshore-Renewab...,Glasgow,"Data analysis, data science or operational res...",7 days ago,Data Scientist - Data & Digitalisation Team Of...,[[[Data Scientist - Data & Digitalisation Team...
7,Applied Scientist (Remote),p_2a45aee61755eba7,Yelp,https://uk.indeed.com/rc/clk?jk=2a45aee61755eb...,Dundee,Are you intrigued by data?\nExperience with da...,30+ days ago,Are you intrigued by data? Yelp has hundreds o...,[[[Are you intrigued by data? Yelp has hundred...
8,Discovery Data Scientist,p_642589e1b1be1442,Exscientia,https://uk.indeed.com/rc/clk?jk=642589e1b1be14...,Dundee,A passion for data science and the use of data...,30+ days ago,Exscientia Is a company that is committed to g...,[[[<div>Exscientia Is a company that is commit...
9,Applied Scientist Recruiting Engine,p_b6c3b454c7bf7c5a,Amazon Dev Centre(Scotland)Ltd,https://uk.indeed.com/rc/clk?jk=b6c3b454c7bf7c...,Edinburgh,You will work as an ML scientist in a team of ...,3 days ago,"Experience programming in Java, C++, Python or...","[[\n, [Experience programming in Java, C++, Py..."
10,Data Scientist,p_1675c285404faf8d,Exscientia,https://uk.indeed.com/rc/clk?jk=1675c285404faf...,Dundee,We are currently seeking data scientists who w...,30+ days ago,Exscientia is at the forefront of Artificial I...,[[[<div>Exscientia is at the forefront of Arti...
11,Machine Learning Engineer,p_7b28575f8f914a90,"JPMorgan Chase Bank, N.A.",https://uk.indeed.com/rc/clk?jk=7b28575f8f914a...,Glasgow,"In this role, working in partnership with our ...",Today,"We design, implement, and support machine lear...","[We design, implement, and support machine lea..."
12,Senior Applied Data Scientist,p_9049eb21cf428314,dunnhumby,https://uk.indeed.com/rc/clk?jk=9049eb21cf4283...,Edinburgh,Prototyping – and ideally some experience deal...,7 days ago,Edinburgh\n\nMost companies try to meet expect...,"[Edinburgh\n, [], [], \nMost companies try to ..."
13,Senior Data Scientist,p_66b0be07a4d4d381,SolarWinds,https://uk.indeed.com/rc/clk?jk=66b0be07a4d4d3...,Edinburgh EH3,Perform advanced analytics to draw insights fr...,6 days ago,Overview:\n\nThe SolarWinds MSP business unit ...,"[[Overview:\n, [\nThe SolarWinds MSP business ..."
14,Data Scientist,p_44d7c15b1b5e4dc0,NatWest Group,https://uk.indeed.com/rc/clk?jk=44d7c15b1b5e4d...,Edinburgh,"Experience with data science software, databas...",30+ days ago,Join us as a Data Scientist\nYou’ll be identif...,"[[], [[Join us as a Data Scientist], [<li>\nYo..."

In [6]:
scraper.new_query('Data Analyst', 'Glasgow')

In [7]:
scraper.scrape()

Running scraper for [data+analyst] in [Glasgow]

Page:0 url:https://uk.indeed.com/jobs?q=data+analyst&l=Glasgow
Blank result, retrying (1 of 3 attempts)

Page:0 url:https://uk.indeed.com/jobs?q=data+analyst&l=Glasgow
job: 0 title:Information Analyst  company:NHS Scotland
job: 1 title:Grade 7 Analyst (Pro company:Cabinet Office
job: 2 title:Counter Fraud - High company:Cabinet Office
job: 3 title:Data Analyst (Temp)  company:Michael Page UK
job: 4 title:Data Analyst - Centr company:NHS Scotland
job: 5 title:Migration Data Analy company:Barclays
job: 6 title:Business Information company:BBC
job: 7 title:Data and Reporting A company:Arcus FM
job: 8 title:Data & Business Anal company:Triyit Ltd.
job: 9 title:Data Analyst (Office company:Royal BAM Group
job:10 title:Business Analyst     company:Cabinet Office
job:11 title:Data Compliance Anal company:Babcock UK
job:12 title:Wind Analyst         company:Wood Plc
job:13 title:Data Analyst         company:Barclays
job:14 title:Data Science Analyst company:Yelp

In [ ]:
scraper.drop_duplicates()

In [ ]:

# Debugging the blank pages