In [1]:
%load_ext autoreload
%autoreload 2
import indeed.IndeedScraper as ind

In [2]:
# Create instance of class
scraper = ind.SearchPageScraper('Data Scientist', 'Scotland')
scraper

IndeedScraper(title="data+scientist", loc="Scotland")
  - Empty df, no results loaded

In [3]:
# Run the scraper and print it
scraper.scrape(2, verbose=True)
scraper

Running scraper for [data+scientist] in [Scotland]

Page:0 url:https://uk.indeed.com/jobs?q=data+scientist&l=Scotland
job: 0 title:Data Scientist - KTP company:University of Strathclyde
job: 1 title:Data Scientist       company:Kleboe Jardine
job: 2 title:Data Scientist - NLP company:Propel
job: 3 title:Data Verification Sc company:Thermo Fisher Scientific
job: 4 title:Data Science (Tech)  company:GSK
job: 5 title:Senior Data Scientis company:Office for National Statistics
job: 6 title:Data Scientist       company:Offshore Renewable Energy Catapult
job: 7 title:Applied Scientist (R company:Yelp
job: 8 title:Data Scientist Lead  company:JPMorgan Chase Bank, N.A.
job: 9 title:Applied Scientist Re company:Amazon Dev Centre(Scotland)Ltd
job:10 title:Machine Learning Eng company:JPMorgan Chase Bank, N.A.
job:11 title:Discovery Data Scien company:Exscientia
job:12 title:Data Scientist       company:Exscientia
job:13 title:Senior Applied Data  company:dunnhumby
job:14 title:Senior Data Scientis company:SolarWinds

Page:1 url:https://uk.indeed.com/jobs?q=data+scientist&l=Scotland&start=10
Blank result, retrying (1 of 3 attempts)

Page:1 url:https://uk.indeed.com/jobs?q=data+scientist&l=Scotland&start=10
job: 0 title:Graduate Apprentice  company:Perth & Kinross Council
job: 1 title:Data Scientist       company:NatWest Group
job: 2 title:Data Science Analyst company:Yelp
job: 3 title:Machine Learning Eng company:smartR.ai LTD
job: 4 title:Postdoctoral Data Sc company:University of Edinburgh
job: 5 title:Analytics Coordinato company:schuh
job: 6 title:Lead Data Scientist  company:Tesco Bank
job: 7 title:Data Scientist       company:Wood Mackenzie
job: 8 title:Data Scientist       company:MBN Recruitment Solutions
job: 9 title:Senior Data Scientis company:Jacobs
job:10 title:Senior Data Scientis company:Barclays
job:11 title:Lead Data Scientist  company:Newport Group
job:12 title:Applied Scientist    company:Amazon Dev Centre(Scotland)Ltd
job:13 title:Senior Data Scientis company:Be-IT Resourcing
job:14 title:Graduate Statisticia company:Quotient Sciences

IndeedScraper(title="data+scientist", loc="Scotland")
  - 2 jobs scraped from 2 pages

In [ ]:
scraper.add_descriptions()

In [4]:
scraper.df

,title,id,company,url,location,summary,date,description,description_html
0,Senior Data Scientist,p_66b0be07a4d4d381,SolarWinds,https://uk.indeed.com/rc/clk?jk=66b0be07a4d4d3...,Edinburgh EH3,Perform advanced analytics to draw insights fr...,6 days ago,NaN,NaN
1,Graduate Statistician,p_cee6357fe66b1021,Quotient Sciences,https://uk.indeed.com/rc/clk?jk=cee6357fe66b10...,Edinburgh,Other project team members will perform tasks ...,30+ days ago,NaN,NaN

In [5]:
scraper.pages_scraped

2

In [ ]:
scraper.new_query('Data Analyst', 'Glasgow')

In [ ]:
scraper.scrape()

In [ ]:
scraper.drop_duplicates()

In [ ]:

# Debugging the blank pages